form {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.p-mt-4 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.par-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.par-box {
  margin: 2px;
  text-align: center;
  font-weight: 600;
}
table.dateTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #33333382;
  border-style: solid;
  color: #333333;
  border-radius: 5px;
}
input[type="number"] {
  max-width: 50px;
}

table.dateTable td,
table.dateTable th {
  border-width: 2px;
  border-color: #3333333d;
  border-style: solid;
  padding: 2px;
}

.input-wrap {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  text-align: center;
  margin: 0 auto;
}
