form {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.p-mt-4 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.par-wrap {
  display: flex;
  flex-direction: column;
  align-items: left;
}

div {
  margin: 2px;
}

.par-day {
  max-width: 60px;
}
