.toast-style {
  max-width: 200px;
}

.parent {
  min-width: 300px;
}

.box-todo {
  margin: 10px;
}

.item-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 10px;
}
