@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.navWrap {
  min-width: 360px;
  background-color: white;
  padding: 1em;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.links {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
}

.NavBar-link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  padding: 1rem;
  margin: 4px;
  border-radius: 8px;
  background-color: #006cec;
  font-weight: 500;
  letter-spacing: 1px;
}

.nav-logo {
  font-family: "Bebas Neue", cursive !important;
  letter-spacing: 2px;
  font-size: 3rem;
}

.navWrap-signin {
  margin-top: 20px;
  border-radius: 8px;
  height: 250px;
  margin-bottom: 10px;
  background-color: white;
  width: 300px;
  padding: 1em;
}

.chef-svg {
  height: 350px;
  padding: 1em;
}

.loglink {
  margin: 2em;
}
.svg-wrap {
  display: flex;
  justify-content: center;
}
