body {
  margin: 0;
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}
.wave-container {
  position: relative;
  background: #09f;
  color: #fff;
  text-align: center;
  overflow: hidden;
  width: 100%;
}
.wave-container > svg {
  display: block;
}

.nav-bar {
  border-radius: 8px;
}

.side-btn {
  top: 20%;
  position: absolute;
  margin-top: 100px;
}
