.item-container {
  width: 100px;
}

.make-wrap {
  width: 360px;
}

.form-con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  justify-content: center;
}

.p-card-header {
  font-size: 1.5rem;
}

.p-card .p-card-body {
  padding: 0;
}

.p-accordion-header-text {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}

input[type="number"] {
  font-size: 1.2rem;
  padding: 5px;
  width: 60px;
  height: 60px;
}

.p-accordion-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
