.item-container {
  width: 100px;
}

.make-wrap {
  width: 360px;
}

.p-card-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.form-con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.p-card-header {
  font-size: 1.5rem;
}

.p-card .p-card-body {
  padding: 0;
}
